<div class="vbox expand">
  <div class="header">
    <h1>
      <a href="https://github.com/gerardcarbo/virtual-repeat-angular">
        <svg style="fill: white;margin-right: 5px" viewBox="0 0 16 16" width="24" height="24" aria-hidden="true">
          <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
        </svg>
        Virtual Repeat Angular
      </a>
    </h1>
  </div>
  <div class="progress" [ngClass]="{'transparent': !itemsLoading}">
    <span></span>
  </div>
  <div class="hbox flex margin">
    <!-- LOCAL ARRAY -->
    <div class="vbox flex box" [ngStyle]="{'flex':config.showArray ? 1 : 0 }">
      <h2>
        <label for="showArray">
          <input type="checkbox" id="showArray" [(ngModel)]="config.showArray" (change)="onChange()"> Array
          <label *ngIf="config.showArray">({{collection.length}}# local)</label>
        </label>
        <label style="float: right" *ngIf="config.showArray">
          <input type="checkbox" name="tableViewArray" [(ngModel)]="config.tableViewArray" (change)="onChange()">Table View</label>
      </h2>
      <div class="display_flex flex box-shadow" *ngIf="config.showArray">
        <div class="expand" *ngIf="!config.tableViewArray">
          <gc-virtual-repeat-container rowHeight="auto">
            <list-item-example *virtualRepeat="let row of collection; let i = index" [item]="row" [index]="i">
            </list-item-example>
          </gc-virtual-repeat-container>
        </div>
        <div class="expand" *ngIf="config.tableViewArray">
          <gc-virtual-repeat-container rowHeight="auto">
            <table>
              <thead>
                <tr>
                  <td style="width:10%">Img</td>
                  <td style="width:10%">Id</td>
                  <td style="width:60%">Title</td>
                  <td style="width:10%">OtherId</td>
                  <td style="width:10%">Item</td>
                </tr>
              </thead>
              <tbody>
                <tr *virtualRepeat="let row of collection; let i = index">
                  <td style="width:10%">
                    <img src='{{row.thumbnailUrl}}' height="48px">
                  </td>
                  <td style="width:10%">{{row.id}}</td>
                  <td style="width:60%">{{row.title}}</td>
                  <td style="width:10%">{{row.albumId}}</td>
                  <td style="width:10%">
                    <div style="background-color: #eaeaea;padding: 0.5rem;text-align: center">{{i}}</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </gc-virtual-repeat-container>
        </div>
      </div>
    </div>
    <!-- ASYNCH -->
    <div class="vbox flex box" [ngStyle]="{'flex':config.showAsynch ? 1 : 0 }">
      <h2>
        <label for="showAsynch">
          <input type="checkbox" id="showAsynch" [(ngModel)]="config.showAsynch" (change)="onChange()"> Asynch Colletion
          <label *ngIf="config.showAsynch">(5000# remote)</label>
        </label>
        <label *ngIf="config.showAsynch" style="float: right" for="showAsynchImages">
          <input type="checkbox" name="showAsynchImages" [(ngModel)]="config.showAsynchImages" (change)="onChange()">
          <label>Images</label>
        </label>
        <label style="float: right" *ngIf="config.showAsynch">
          <input type="checkbox" name="tableViewAsynch" [(ngModel)]="config.tableViewAsynch" (change)="onChange()">Table View</label>
      </h2>
      <div class="display_flex flex box-shadow" *ngIf="config.showAsynch">
        <div class="expand" *ngIf="!config.tableViewAsynch">
          <gc-virtual-repeat-container rowHeight="auto">
            <list-item-example *virtualRepeatAsynch="let row of asynchCollection; let i = index" [item]="row" [index]="i">
            </list-item-example>
          </gc-virtual-repeat-container>
        </div>
        <div class="expand" *ngIf="config.tableViewAsynch">
          <gc-virtual-repeat-container rowHeight="auto">
            <table>
              <thead>
                <tr>
                  <td *ngIf="config.showAsynchImages" style="width:10%">Img</td>
                  <td style="width:10%">Id</td>
                  <td style="width:60%">Title</td>
                  <td style="width:10%">OtherId</td>
                  <td style="width:10%">Item</td>
                </tr>
              </thead>
              <tbody>
                <tr *virtualRepeatAsynch="let row of asynchCollection; let i = index">
                  <td *ngIf="config.showAsynchImages" style="width:10%">
                    <img src='{{row.thumbnailUrl}}' height="48px">
                  </td>
                  <td style="width:10%">{{row.id}}</td>
                  <td style="width:60%">{{row.title}}</td>
                  <td style="width:10%">{{row.albumId}}</td>
                  <td style="width:10%">
                    <div style="background-color: #eaeaea;padding: 0.5rem;text-align: center">{{i}}</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </gc-virtual-repeat-container>
        </div>
      </div>
    </div>
    <!-- REACTIVE -->
    <div class="vbox flex box" [ngStyle]="{'flex':config.showReactive ? 1 : 0 }">
      <h2>
        <label for="showReactive">
          <input type="checkbox" id="showReactive" [(ngModel)]="config.showReactive" (change)="onChange()"> Reactive Colletion
          <label *ngIf="config.showReactive">(5000# remote)</label>
        </label>
        <label *ngIf="config.showReactive" style="float: right" for="showReactiveImages">
          <input type="checkbox" name="showReactiveImages" [(ngModel)]="config.showReactiveImages" (change)="onChange()">
          <label>Images</label>
        </label>
        <label style="float: right" *ngIf="config.showReactive">
          <input type="checkbox" [formControl]="tableViewReactive" [(ngModel)]="config.tableViewReactive" (change)="onChange()">Table View</label>
      </h2>
      <div class="display_flex flex vbox box-shadow" *ngIf="config.showReactive">
        <div class="expand" *ngIf="!config.tableViewReactive">
          <gc-virtual-repeat-container rowHeight="auto" #reactiveVirtualRepeatContainerList>
            <list-item-example *virtualRepeatReactive="let row of reactiveCollectionFactory; let i = index" [item]="row" [index]="i">
            </list-item-example>
          </gc-virtual-repeat-container>
        </div>
        <div class="expand" *ngIf="config.tableViewReactive">
          <gc-virtual-repeat-container rowHeight="auto" #reactiveVirtualRepeatContainerTable>
            <table>
              <thead>
                <tr>
                  <td *ngIf="config.showReactiveImages" style="width:10%">Img</td>
                  <td style="width:10%">Id</td>
                  <td style="width:60%">Title</td>
                  <td style="width:10%">OtherId</td>
                  <td style="width:10%">Item</td>
                </tr>
              </thead>
              <tbody>
                <tr *virtualRepeatReactive="let row of reactiveCollectionFactory; let i = index">
                  <td *ngIf="config.showReactiveImages" style="width:10%">
                    <img src='{{row.thumbnailUrl}}' height="48px">
                  </td>
                  <td style="width:10%">{{row.id}}</td>
                  <td style="width:60%">{{row.title}}</td>
                  <td style="width:10%">{{row.albumId}}</td>
                  <td style="width:10%">
                    <div style="background-color: #eaeaea;padding: 0.5rem;text-align: center">{{i}}</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </gc-virtual-repeat-container>
        </div>
      </div>
    </div>
  </div>
</div>